{
  "presets": ["env"],
  "plugins": [
    "transform-async-generator-functions",
    "transform-object-rest-spread",
    "transform-export-extensions",
    "transform-class-properties",
    "transform-runtime"
  ]
}
